{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

{% block stylesheets %}
  {% do
    assets.addCss('theme://assets/css/styles.css', 98) %}
  {# {% do
    assets.addCss('theme://assets/fonts/fonts.css', {
      'priority': 97,
      'group': 'bottom'
    }) %} #}
{% endblock %}
{% block javascripts %}
  {% do
    assets.addJs('theme://assets/js/main.build.js', {
      'priority': 102,
      'group': 'bottom'
    }) %}
{% endblock %}

<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
  <head>
    {% block head %}
      <meta charset="utf-8"/>
      <title>
        {% if page.title %}{{ page.menu|e('html') }}
          |
        {% endif %}{{ site.title|e('html') }}</title>

      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% include 'partials/metadata.html.twig' %}

      <link rel="icon" type="image/png" href="{{ url('theme://assets/img/logo.png') }}"/>
      <link rel="canonical" href="{{ page.url(true, true) }}"/>

      <link href="https://fonts.googleapis.com/css2?family=Miriam+Libre&display=swap" rel="stylesheet">

      {% block assetsTop deferred %}
        {{ assets.css()|raw }}
        {{ assets.js()|raw }}
      {% endblock %}

    {% endblock %}
  </head>
  <body id="top" class="loading template-{{ page.template }} {{ page.header.body_classes }}">
    <div id="loading-screen"></div>

    {% block sidebar %}
      {% include 'partials/sidebar.html.twig' %}
    {% endblock %}

    {% block header %}
      {% include 'partials/header.html.twig' %}
    {% endblock %}

    {% block body %}
      <main>
        {% block content %}{% endblock %}
      </main>
    {% endblock %}

    {% block footer %}
      {% include 'partials/footer.html.twig' %}
    {% endblock %}

    {% block assetsBottom deferred %}
      {{ assets.css('bottom')|raw }}
      {{ assets.js('bottom')|raw }}
    {% endblock %}

  </body>
</html>
