<footer id="footer">

  {% block footer_navigation %}
    <div class="footer-item">
      <a href="#top">&uarr; Top</a>
    </div>
  {% endblock %}

  <div class="logo left footer-item">
    <div class="site-title" href="{{ base_url == '' ? '/' : base_url }}">{{ site.title }}</div>

    {# {% if site.subtitle %}
      <div class="site-subtitle">{{ site.subtitle }}</div>
    {% endif %} #}

    {% if site.author.email %}
      <a class="site-subtitle" href="mailto:{{ site.author.email|safe_email }}">{{ site.author.email|safe_email }}</a>
    {% endif %}

    {% if site.social_links|length %}
      {% for item in site.social_links %}
        <a class="social-link" href="{{ item.url }}" rel="noopener" target="_blank">{{ item.text }}</a>
      {% endfor %}
    {% endif %}
  </div>
</footer>
