<header id="header">
  <div class="logo left">
    <div class="site-title" href="{{ base_url == '' ? '/' : base_url }}">{{ site.title }}</div>

    {# {% if site.subtitle %}
      <div class="site-subtitle">{{ site.subtitle }}</div>
    {% endif %} #}

    {% if site.author.email %}
      <a class="site-subtitle" href="mailto:{{ site.author.email|safe_email }}">{{ site.author.email|safe_email }}</a>
    {% endif %}
  </div>

  {% block header_navigation %}
    {% include 'partials/navigation.html.twig' %}
  {% endblock %}
</header>
