<header id="header">
  <div class="logo left">

    {% if page.home() %}
      <div class="header__contact">
        {% if site.author.email %}
          <a class="site-title" href="mailto:{{ site.author.email|safe_email }}">
            {{ site.title }}
          </a>
          <a class="site-subtitle" href="mailto:{{ site.author.email|safe_email }}">
            {{ site.author.email|safe_email }}
          </a>
        {% endif %}

        {% if site.social_links|length %}
          {% for item in site.social_links %}
            <a class="social-link" href="{{ item.url }}" rel="noopener" target="_blank">{{ item.text }}</a>
          {% endfor %}
        {% endif %}
      </div>
    {% else %}
      <a class="site-title" href="{{ base_url == '' ? '/' : base_url }}">{{ site.title }}</a>
    {% endif %}

    {# {% if site.subtitle %}
      <div class="site-subtitle">{{ site.subtitle }}</div>
    {% endif %} #}

    {# {% if site.author.email %}
      <a class="site-subtitle" href="mailto:{{ site.author.email|safe_email }}">{{ site.author.email|safe_email }}</a>
    {% endif %} #}
  {# </a> #}
  </div>

  {% block header_navigation %}
    {% include 'partials/navigation.html.twig' %}
  {% endblock %}
</header>
