<a id="mobile-menu-toggle" href="#" title="Toggle navigation">
  <span>Menu</span>
  <i class="svg-icon">
    {% include('@images/menu.svg') %}
  </i>
</a>

<div class="main-menu" data-state="closed">
  <nav id="navigation" role="navigation" data-state="closed">
    <ul>
      {% for page in pages.children.visible %}
        {% if not (page.url == home_url) %}
          {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
          <li class="{{ current_page }}">
            <a href="{{ page.url }}">
              {{ page.menu }}
            </a>
          </li>
        {% endif %}
      {% endfor %}

      {% for menu_item in site.menu %}
        <li>
          <a href="{{ menu_item.url }}">
            {% if menu_item.icon %}
              <i class="fa fa-{{ menu_item.icon }}"></i>
            {% endif %}
            {{ menu_item.text }}
          </a>
        </li>
      {% endfor %}

    </ul>
  </nav>
</div>
