{% embed 'partials/base.html.twig' %}

  {% set archive = page.collection() %}

  {% block content %}
    <section class="archive">
      {% if page.content %}
        <div class="archive-header">
          {{ page.content }}
        </div>
      {% endif %}

      <div class="archive-list">
        {# <div class="archive-list-meta">
          <h5>
            {{ page.title }}
          </h5>
        </div> #}
        {% for item in archive %}
          {% set project_image = item.media.images | first %}

          {# {% if project_image %}
            {% set class_image = "archive-item-with-image" %}
          {% else %}
            {% set class_image = "" %}
          {% endif %} #}
          <article class="archive-item {{ class_image }}">

            {# <div class="taxonomies">
              {% for category in item.taxonomy.category %}<span class="taxonomy-item">{{ category }}</span>{% endfor %}
            </div> #}

            <h1 class="archive-item-title h2">
              <a href="{{ item.url }}">
                {{ item.title }}
                <span class="taxonomies">
                  {% for category in item.taxonomy.category %}<span class="taxonomy-item">{{ category }}</span>{% endfor %}
                </span>
              </a>
            </h1>

            {% if project_image %}
              <div class="archive-item-preview archive-item-with-image">
                {{ project_image.cropZoom(600, 600).html }}
              </div>
            {% else %}
              <div class="archive-item-preview archive-item-with-text">
                {{ item.summary }}
              </div>
            {% endif %}

            {# <div class="archive-item-text">
              {{ item.summary }}
            </div> #}
            {# <div class="archive-item-link">
              <a href="{{ item.url }}">More about project</a>
            </div> #}
          </article>
        {% endfor %}
      </div>
    </section>
  {% endblock %}
{% endembed %}
