{% extends 'partials/base.html.twig' %}

{% set archive = page.collection() %}
{% set hover_effect = page.header.hover %}

{% block content %}
  <section class="archive archive--list">
    {% if page.content %}
      <header class="archive__header">
        {{ page.content }}
      </header>
    {% endif %}

    <div class="archive__items">
      {# <div class="archive-list-meta">
        <h5>
          {{ page.title }}
        </h5>
      </div> #}
      {% for item in archive %}
        {% set project_image = item.media.images | first %}

        {# {% if project_image %}
          {% set class_image = "archive__item-with-image" %}
        {% else %}
          {% set class_image = "" %}
        {% endif %} #}
        <article class="archive__item {{ class_image }}">

          {# <div class="taxonomies">
            {% for category in item.taxonomy.category %}<span class="taxonomy-item">{{ category }}</span>{% endfor %}
          </div> #}

          <h1 class="archive__item-title h2">
            <a href="{{ item.url }}">
              {{ item.title }}
              <span class="taxonomies">
                {% for category in item.taxonomy.category %}<span class="taxonomy-item">{{ category }}</span>{% endfor %}
              </span>
            </a>
          </h1>

          {% if hover_effect %}
            {% if project_image %}
              <div class="archive__item-preview archive__item-with-image">
                {{ project_image.cropZoom(1000, 1000).sizes('60vh').html }}
              </div>
            {% else %}
              <div class="archive__item-preview archive__item-figure--text">
                {{ item.summary }}
              </div>
            {% endif %}
          {% endif %}

          {# <div class="archive__item-text">
            {{ item.summary }}
          </div> #}
          {# <div class="archive__item-link">
            <a href="{{ item.url }}">More about project</a>
          </div> #}
        </article>
      {% endfor %}
    </div>
  </section>
{% endblock %}
