{% extends 'partials/base.html.twig' %}

{% block content %}
  <section class="section section--intro">

    {% if page.content %}
      <header class="archive__header">
        {{ page.content }}
      </header>
    {% endif %}

    <div class="intro" data-intro="">
      {% for item in page.header.items %}
        {% set page = page.find(item) %}
        {% set project_image = page.media.images | first %}

        {% if project_image %}
          {% set css_aspect_ratio = (project_image.width / project_image.height > 1) ? "is-width" : "is-height" %}
          {% set css_variant = "intro__item--image" %}
        {% else %}
          {% set css_variant = "" %}
        {% endif %}

        <a href="{{ page.url() }}" class="intro__item {{ css_variant }} {{ css_aspect_ratio }}" style="z-index:{{ loop.revindex }};">
          {% if project_image %}
            {{ project_image.derivatives(320,1921, 320).sizes('38vmin').html() }}
          {% else %}
            {{ page.summary }}
          {% endif %}
        </a>
      {% endfor %}
    </div>

  </section>

{% endblock %}
