{% extends 'partials/base.html.twig' %}

{% set options = { items: {'@page': '/archive-list'}, 'limit': 5, 'order': {'by': 'date', 'dir': 'desc'}, 'pagination': false } %}
{% set archive = page.collection(options) %}
{% set hover_effect = page.header.hover %}

{% block content %}
  <section class="section section--intro">

    {% if page.content %}
      <header class="archive__header">
        {{ page.content }}
      </header>
    {% endif %}

    <div class="intro" data-intro="">
      {% for item in archive %}

        {% set project_image = item.media.images | first %}

        {% if project_image %}
          {% set css_aspect_ratio = (project_image.width / project_image.height > 1) ? "is-width" : "is-height" %}
          {% set css_variant = "intro__item--image" %}
        {% else %}
          {% set css_variant = "" %}
        {% endif %}

        <a href="{{ item.url() }}" class="intro__item {{ css_variant }} {{ css_aspect_ratio }}" style="z-index:{{ loop.revindex }};">
          {% if project_image %}
            {{ project_image.derivatives(320,1921, 320).sizes('38vmin').html() }}
          {% else %}
            {{ item.summary }}
          {% endif %}
        </a>
      {% endfor %}
    </div>

  </section>

{% endblock %}
