{% extends 'partials/base.html.twig' %}

{% block content %}
  <section class="section section--intro">

    {% if page.content %}
      <header class="archive__header">
        {{ page.content }}
      </header>
    {% endif %}

    <div class="intro" data-intro="">
      {% for item in page.header.items %}
        {% set page = page.find(item) %}
        {% if page.template == "archive-masonary" %}
          {% set project_image = page.media[page.header.fieldSelection | last.picture.file] %}
        {% else %}
          {% set project_image = page.media.images | first %}
        {% endif %}

        {% if project_image %}
          {% set css_aspect_ratio = (project_image.width / project_image.height > 1) ? "is-width" : "is-height" %}
          {% set css_variant = "intro__item--image" %}
        {% else %}
          {% set css_variant = "" %}
        {% endif %}

        <a href="{{ page.url() }}" class="intro__item {{ css_variant }} {{ css_aspect_ratio }}" style="z-index:{{ loop.revindex }};">
          {% if project_image %}
            {# {{ project_image.derivatives(640,1921, 320).sizes('38vmin').html() }} #}
            <img
              src="{{ project_image.cropResize(640, 400).url() }}"
              srcset="{{ project_image.derivatives(640,1281, 320).srcset() }}"
              sizes="(max-width: 600px) 100vw, 40vw">
          {% else %}
            {{ page.summary }}
          {% endif %}
        </a>
      {% endfor %}
    </div>

  </section>

{% endblock %}
