{% extends 'partials/base.html.twig' %}

{% block content %}
  {% if not page.media.images %}
    {% set project_class = "project--text-only" %}
  {% elseif page.media.images | length == 1 %}
    {% set project_class = "project--image-featured-only" %}
  {% endif %}

  <article class="project project--default {{ project_class }}">
    <header class="project__header">
      <h1 class="project__title">
        {{ page.title }}
      </h1>
    </header>

    <section class="project__text">

      {% if page.header.content_header %}
        <header class="project__text__header">
          {{ page.header.content_header|markdown }}
        </header>
      {% endif %}

      {% if page.content %}
        <div class="project__text__description">
          {{ page.content }}
        </div>
      {% endif %}

    </section>

    {% if page.media.images %}
      {% if page.header.featured_image %}
        <div class="project__image--featured" data-toggle="lightbox">
          {{ page.media.images|first.derivatives(640,1921, 320).sizes('100vw').html() }}
        </div>

        {% if page.media.images | length > 1 %}
          <section class="project__images">
            {% for image in page.media.images %}
              {% if not loop.first %}
                <div class="project__image">
                  <a href="{{ image.url() }}" data-toggle="lightbox">
                    {# {{ image.derivatives(480,1281, 800).sizes('(max-width: 1120px) 100vw, 50vw').html() }} #}
                    <img
                      src="{{ image.cropResize(32, 32).gaussianBlur(4).url() }}"
                      data-src="{{ image.cropResize(1280, 800).url() }}"
                      data-srcset="{{ image.derivatives(640,1921, 320).srcset() }}"
                      data-lazy=""
                      sizes="(max-width: 1120px) 100vw, 50vw'">
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </section>
        {% endif %}

      {% else %}

        <section class="project__images">
          {% for image in page.media.images %}
            <div class="project__image">
              <a href="{{ image.url() }}" data-toggle="lightbox">
                {# {{ image.derivatives(480,1281, 800).sizes('(max-width: 1120px) 100vw, 50vw').html() }} #}
                <img
                  src="{{ image.cropResize(32, 32).gaussianBlur(4).url() }}"
                  data-src="{{ image.cropResize(1280, 800).url() }}"
                  data-srcset="{{ image.derivatives(640,1921, 320).srcset() }}"
                  data-lazy=""
                  sizes="(max-width: 1120px) 100vw, 50vw'">
              </a>
            </div>
          {% endfor %}
        </section>

      {% endif %}

    {% endif %}

    {% if page.header.footer %}
      <footer class="project__footer">
        {{ page.header.footer|markdown }}
      </footer>
    {% endif %}

  </article>

  {% include 'partials/related-projects.html.twig' %}
  {% include 'partials/lightbox-presentation.html.twig' %}

{% endblock %}
