{% extends 'partials/base.html.twig' %}

{% block content %}
  {% if not page.media.images %}
    {% set project_class = "project-text-only" %}
  {% elseif page.media.images | length == 1 %}
    {% set project_class = "project-featured-image-only" %}
  {% endif %}

  <article class="project {{ project_class }}">
    <header class="project-header">
      <h1 class="project-title">
        {{ page.title }}
      </h1>
    </header>

    <section class="project-text">
      {{ page.content }}
    </section>

    {% if page.media.images %}
      <div class="project-featured-image">
        {# {{ page.media.images|first.cropZoom(1920, 900).html() }} #}
        {{ page.media.images|first.cropZoom(1920, 900).derivatives(320,1920).html() }}
      </div>

      {% if page.media.images | length > 1 %}
        <section class="project-images">
          {% for image in page.media.images %}
            {% if not loop.first %}
              <div class="project-image">
                {{ image.cropResize(1280, 1280).derivatives(320,1920).sizes('(max-width: 1120px) 100vw, 50vw').html('','','lightbox') }}
              </div>
            {% endif %}
          {% endfor %}
        </section>
      {% endif %}

    {% endif %}

    {% if page.header.footer %}
      <footer class="project-footer">
        {{ page.header.footer|markdown }}
      </footer>
    {% endif %}

  </article>

  {% include 'partials/related-projects.html.twig' %}

{% endblock %}
